
$border: rgb(3, 169, 244);
$g1: #f7797d;
$g2: #c471ed;
$g3: #12c2e9;

.card {
  aspect-ratio: 10 / 16;
  border: 0.5vmin solid $border;
  position: relative;
  cursor: pointer;
  height: 48rem;
  width: 100%;
  border-radius: 12px;
  font-weight: bold;

  .card:hover > .card-content,   .card:focus > .card-content{
    outline:none;
    background: radial-gradient(
                    rgba(255,255,255,0.5),
                    transparent 8%
    ) fixed center;
    background-size: 5vmin 5vmin;
    color:white;
  }
}

.cardGradient {
  border-radius: 12px;
  background: linear-gradient(
                  130deg,
                  transparent 0% 32%,
                  $g1 66%,
                  $g2 83.5%,
                  $g3 100%,
  ) 0 0;

  background-size: 300% 300%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-position ease-out 0.2s, transform 0.2s ease-out;
}

.cardContent{
  width: calc(100%);
  height: calc(100%);
  padding: 5vmin;
  color:black;
  background: radial-gradient(
                  rgba(0, 0, 0, 0.5),
                  transparent 8%
  ) fixed center;
  background-size: 5vmin 5vmin;
  position: relative;
  z-index:2 ;
  transition: all 0.2s ease-out;

  text-align: left;
}

.cardTitle {
  font-size: 6vmin;
}

.cardSubtitle {
  font-size: 3vmin;
  margin-top: 2vmin;
  .word{
    display:inline-block;
    margin-right: 1vmin;
    position:relative;
  }
}